@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Cabin+Sketch:wght@700&family=Montserrat&family=Raleway+Dots&display=swap");
/* font-family: 'Cabin', sans-serif;
font-family: 'Cabin Sketch', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway Dots', cursive; */

:root {
  --color1: #17bebb;
  /* --color1: #cedfd8; */
}

body {
  /* background-color: #041c3c; */
  background-image: url("../img/bg_stars.webp");
  color: white;
  min-height: 100vh;
  /* display:flex;
  align-items:center;
  justify-content:center; */
}
p {
  font-size: 12px;
}

#teams {
  background: url(../img/snow-heap.png) bottom no-repeat, #63c3fb;
  padding-bottom: 15rem;
}

.teams {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card {
  /* background:#04233c; */
  /* background: #fff; */
  /* padding:2rem; */
  padding: 20px 15px 30px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;

  justify-content: space-between;
  width: 400px;
  height: 380px;
  border-radius: 8px;
  /* animation: animate 4s linear infinite forwards; */
}

/* .card:hover{
  box-shadow:2px 2px 6px 2px rgba(74, 189, 154,.1),2px 2px 6px 2px rgba(71, 131, 204,.1);
} */
.card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* .card-top .name{
  margin-top:10px;
  color:#fff;
  text-transform:capitalize;
} */
.name {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  display: block;
  font-size: 20px;
  margin: 0 0 7px 0;
}
.card-top .link {
  color: #838985;
  cursor: pointer;
}
.card-top .link::before {
  content: "@";
}
.card-top .link:hover {
  color: red;
}

@keyframes animate {
  0% {
    border: 4px solid #042842;
  }
  20% {
    border: 4px solid #24435b;
  }
  40% {
    border: 4px solid #042842;
  }
  60% {
    border: 4px solid #24435b;
  }
  80% {
    border: 4px solid #041c3c;
  }
  100% {
    border: 4px solid #042842;
  }
}

.member-info {
  text-align: center;
}
.post {
  /* color: var(--color1, #fff); */
  color: #201c3c;
  text-transform: capitalize;
  display: block;
  font-size: 14px;
  margin-bottom: 3px;
  align-content: center;
}

/* Social media icons */
.social {
  padding: 0;
  /* position: absolute; */
  /* margin: 0; */
  margin: 3px;
  bottom: 5px;
  list-style: none;
}
.social li {
  display: inline-block;
  margin-right: 5px;
}
.card .social li a {
  border-radius: 50%;
  font-size: 15px;
  /* color: var(--color1, #fff); */
  /* border: 1px solid var(--color1, #fff); */
  color: #63c6fb;
  background: #ffffff83;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  transition: all 0.5s ease 0s;
}
.card .social li:hover a {
  /* background: var(--color1, #fff); */
  /* color: #fff; */
  background: #fff;
}

/* Profile photo */
.card-top img {
  width: 200px;
  height: 200px;
  box-shadow: 1px 1px 4px 2px rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

/* .card:hover .pic {
  background: var(--color1, #fff);
  border-radius: 50%;
} */

.card {
  /* background:#24435b; */
  /* background: rgba(255, 255, 255, 0.12); */
  background: transparent;
  border: none;
}
.card .pic {
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
/* .card:hover .pic {
  background: var(--color1, #fff);
  width: 170px;
  border-radius: 50%;
} */

.section-padding-100 {
  padding-top: 30px;
}

.snowflakeContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1, 1);
  -moz-transform: translate(-50%, -50%) scale(1, 1);
  -ms-transform: translate(-50%, -50%) scale(1, 1);
  -o-transform: translate(-50%, -50%) scale(1, 1);
  transform: translate(-50%, -50%) scale(1, 1);
  z-index: 1;
  pointer-events: none !important;
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(white, white);
  border-radius: 50%;
  filter: drop-shadow(0 0 10px white);
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(white, white);
  border-radius: 50%;
  filter: drop-shadow(0 0 10px white);
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .section-padding-100 {
    padding-top: 90px;
  }
}
